.bloop
.bsp
sbt.json
.metals
.vscode
project/project
project/.bloop
project/target
project/metals.sbt
drafts_and_ideas
target
.idea
.DS_Store
out
generated
.VSCodeCounter
out.jar
TODO.md
example_programs
default.pneuma
default copy.pneuma
default.class
Type.class
pneumac
